version: '3'

services:
  app:
    image: node:alpine
    working_dir: /usr/app
    volumes:
      - .:/usr/app
    ports:
      - 3333:3333
    command: sh -c 'yarn global add @adonisjs/cli && yarn install && adonis migration:run && (adonis serve --dev & adonis kue:listen)'
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 172.77.0.0/16
