<h2>Password recovery</h2>

<p>
  A password recovery has been requested for your account, if you didn't
  request it, please ignore this e-mail.
</p>
<p>
  Use the following token in order to recover your password:
  <strong>{{ token }}</strong>
</p>
